<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>Product</title>
  </head>
  <body>
    <div class="header">
      <div class="headerTitle">NodeJS</div>
      <nav>
        <a href="http://localhost:8000/">Home</a>
        <a href="http://localhost:8000/product" style="text-decoration: underline">Product</a>
        <a href="http://localhost:8000/contact">Contact</a>
      </nav>
    </div>

    <div class="container">
      <div class="contact">
        <div class="contactHeader">Contact</div>
        <div class="count">Website visited: {{counter}} times</div>
      </div>
    </div>
  </body>
</html>
